body{
  margin:0;
  min-height:100vh;

  background-image:url("bg.png");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;

  color:#006f9f;
  text-align:center;
  font-family:'DotGothic16',sans-serif;

.window{
  max-width:720px;
  margin:80px auto;
  padding:30px;
  border:2px solid rgba(255,255,255,.8);
  border-radius:18px;
  background:rgba(255,255,255,.45);
  box-shadow:0 0 25px rgba(0,170,255,.35);
  backdrop-filter:blur(10px);
}

.titlebar{
  background:linear-gradient(90deg,#009dff,#8eeeff);
  color:white;
  padding:10px;
  border-radius:12px;
  font-weight:bold;
  letter-spacing:3px;
}

h1{
  letter-spacing:5px;
  text-shadow:0 0 8px #7eeaff;
}

a{
  display:block;
  margin:18px;
  color:#008ed0;
  text-decoration:none;
  font-size:20px;
}

a:hover{
  text-shadow:0 0 10px #00cfff;
}

.online{
  display:inline-block;
  width:10px;
  height:10px;
  background:#35ffb3;
  border-radius:50%;
  box-shadow:0 0 10px #35ffb3;
}

..clock{
  margin-top:20px;
  font-family:monospace;
  font-size:18px;
}

/* DIARY専用 */

.diary-page{
  font-family:'DotGothic16',sans-serif;
}

.diary-page h1,
.diary-page h3{
  font-family:'Silkscreen',sans-serif;
}